@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, serif;
  /*font-size: 14px;*/
  /*line-height: 24px;*/
  /*font-weight: 700;*/
  /*color: black;*/
  text-transform: uppercase;

  background-color: white;
  background-image: url("../img/background_photo.jpg");
  background-position: center 100px;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
.main-navigation {
  font-size: 14px;
  line-height: 16px;
  color: black;
  background-color: white;
}
.navigation-list {
  list-style: none;
}
.navigation-list__item a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}
.navigation-list__item a:hover {
  color: #81b3d2;
}
.navigation-list__item a:active {
  color: #000000;
  opacity: 0.3;
}
.welcome-img {
  width: 256px;
  height: 84px;
  background-image: url("../img/welcome.svg");
}
.sedona-img {
  width: 456px;
  height: 213px;
  background-image: url("../img/Sedona.svg");
}
