@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
.main-header {
  margin-bottom: 56px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, serif;
  /*font-size: 14px;*/
  /*line-height: 24px;*/
  /*font-weight: 700;*/
  /*color: black;*/
  text-transform: uppercase;

  background-color: burlywood;
  background-image: url("../img/background_photo.jpg");
  background-position: center 100px;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: black;
  background-color: white;
}
.navigation-list {
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 70px;
}
.navigation-list__item a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}
.navigation-list__item a:hover {
  color: #81b3d2;
}
.navigation-list__item a:active {
  color: #000000;
  opacity: 0.3;
}
.welcome-img {
  width: 256px;
  height: 84px;
  background-image: url("../img/welcome.svg");
}
.sedona-img {
  width: 456px;
  height: 213px;
  background-image: url("../img/Sedona.svg");
}


.title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.title--dark {
  color: #000000;
}

.title--light {
  color: #FFFFFF;
  background-color: #81b3d2;
}


.subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  }

.subtitle--dark {
 color: rgba(0,0,0, 0.3);
}

.subtitle--light {
  color: #FFFFFF;
  background-color: #81b3d2;
}

li {
  list-style: none;
}
/*.reasons-list__item__title {*/
/*  color: #FFFFFF;*/
/*  font-weight: 700;*/
/*  font-size: 21px;*/
/*  line-height: 21px;*/
/*}*/
/*.reasons-list__item__text {*/
/*  color: #FFFFFF;*/
/*  font-weight: 400;*/
/*  font-size: 21px;*/
/*  line-height: 21px;*/
/*}*/
.reasons-list__item_title_black {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.subreasons-list__item {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  text-align: center;
}

.subreasons-list__item__icon {
  display: inline-block;
}

.icon-house {
  background-repeat: no-repeat;
  background-image: url("../img/icon-house.svg");
  background-size: 75px 72px;
  width: 75px;
  height: 72px;
}

.icon-gamb {
  background-repeat: no-repeat;
  background-image: url("../img/icon-gamb.svg");
  background-size: 75px 72px;
  width: 75px;
  height: 72px;
}

.icon-gift {
  background-repeat: no-repeat;
  background-image: url("../img/icon-gift.svg");
  background-size: 75px 72px;
  width: 75px;
  height: 72px;
}

.square-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;

}
.search-button--brown {
  background-color: #756357;
}
.search-button--brown:hover {
  background-color: #604e43;
}
.search-button--brown:active {
  background-color: #503d32;
  color: #857870;
}
.search-button--lightblue {
background-color: #81b3d2;
}
.search-button--lightblue:hover {
  background-color: #669dc0;
}
.search-button--lightblue:active {
  background-color: #5495bd;
  color: #88b5d1;
}
.increment-control__button {
  color: #a9a9a9;
}
.increment-control__button:hover {
  color: #000000;
}
.increment-control__button:active {
  color: #81b3d2;
}

.social__link {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #81b3d2;;
}
.social__link--twitter {
  background-image: url("../img/twitter.svg");
  background-size: 20px 20px;
}
.social__link--fb {
  background-image: url("../img/fb-icon.svg");
  background-size: 20px 20px;
}
.social__link--youtube {
  background-image: url("../img/youtube.svg");
  background-size: 20px 20px;
}
.author {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
.author:hover {
  color: #81b3d2;
}
.author:active {
  color: #000000;
  opacity: 0.3;
}



.booking-details {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.booking-details__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.title-page2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.sorting {
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  color: #000000;
}
.sorting-item {
  color: #c9c9c9;
  border-bottom: 1px dashed
}
.sorting-item:hover {
  color: #81b3d2;
  border-bottom: 1px dashed
}
.sorting-item:active {
  color: #81b3d2;
  border-bottom: none;
}
.icon-arrow-up {
  background-repeat: no-repeat;
  background-image: url("../img/icon-up-dir.png");
  background-size: 11px 10px;
  width: 11px;
  height: 10px;
}
.icon-arrow-down {
  background-repeat: no-repeat;
  background-image: url("../img/icon-down-dir.png");
  background-size: 11px 10px;
  width: 11px;
  height: 10px;
}
.icon-star {
  background-repeat: no-repeat;
  background-image: url("../img/icon-star.png");
  background-size: 18px 17px;
  width: 18px;
  height: 17px;
}
.title-hotel {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.info-hotel {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.rating {
  color: #666666;
  background-color: #c9c9c9;
}
