body {
  margin: 0;
  padding: 0;

  font-family: "Times New Roman", Arial, serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;

  background-color: white;
  background-image: url("img/background photo.ipg.jpg");
  background-position: center 100px;
  background-repeat: no-repeat;
  width: 400px;
  height: 300px;
}
a {
  text-decoration: none;
}
.main-navigation {
  font-size: 14px;
  line-height: 16px;
  color: black;
  background-color: white;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: black;
}
.site-navigation a:hover,
.site-navigation a:focus,{
  background-color: hotpink;
}

